<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Trace" internalLogFile="C:\tmp\nlog-consumer-log.txt">
  <targets>
    <target xsi:type="Database" name="SQLTarget" dbProvider="mssql" connectionString="Data Source=.\STAMPING;Initial Catalog=DBTESTLOG; user id=sa; pwd=123;" keepConnection="true" commandType="Text" installConnectionString="Layout">

      <commandText>
        INSERT INTO [dbo].[RabbitMQLog]
           ([Level]
           ,[Logger]
           ,[Application]
           ,[IP]
           ,[MachineName]
           ,[Date]
           ,[Message]
           ,[Exception])
        VALUES
           (@Level
           ,@Logger
           ,@Application
           ,@IP
           ,@MachineName
           ,@Date
           ,@Message
           ,@Exception)
      </commandText>
      <parameter name="Level" layout="${level:uppercase=true}" dbType="DbType.String" format="string" />
      <parameter name="Logger" layout="${logger}" />
      <parameter name="Application" layout="${logger}" dbType="DbType.String" />
      <parameter name="IP" layout="${hostname}" dbType="DbType.String" />
      <parameter name="MachineName" layout="${machinename} " dbType="DbType.String" />
      <parameter name="Date" layout="${date}" dbType="DbType.DateTime2" />
      <parameter name="Message" layout="${message}" dbType="DbType.String" />
      <parameter name="Exception" layout="${exception}" dbType="DbType.String" />
    </target>
    <target xsi:type="Console" name="ConsoleTarget" layout="${date}|${level:uppercase=true}|${message} ${exception:format=ToString}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="SQLTarget" />
    <logger name="*" minlevel="Trace" writeTo="ConsoleTarget" />
  </rules>
</nlog>