<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Trace" internalLogFile="C:\tmp\nlog-internal-log.txt">
  <extensions>
    <add assembly="Nlog.RabbitMQ.Target" />
  </extensions>

  <targets>
    <target name="RabbitMQTarget"
            xsi:type="RabbitMQ"
            username="guest"
            password="guest"
            hostname="localhost"
            exchange="app-logging"
            port="5672"
            maxBuffer="10240"
            heartBeatSeconds="3"
            useJSON="true"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
    <target xsi:type="Console"
            name="ConsoleTarget"
            layout="${date}|${level:uppercase=true}|${message} ${exception:format=ToString}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="RabbitMQTarget" />
    <logger name="*" minlevel="Trace" writeTo="ConsoleTarget"  />
  </rules>
</nlog>